<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>profile</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <h1><%= username %>'s profile</h1>
        <p class="info">Email: <%= email %></p>
        <p class="info">Age: <%= age %></p>
        <p class="info">Question 1: <%= answers[0]["What is your preferred gaming medium?"] %></p>
        <p class="info">Question 2: <%= answers[1]["What is your favorite color?"] %></p>
        <p class="info">Question 3: <%= answers[2]["What is your favorite gaming genre?"] %></p>
        <br>
        <a href="/profile/<%= userID %>/edit" class="button">Edit Profile</a>
        <footer>
            
        </footer>
    </body>
</html>